@import 'https://fonts.googleapis.com/css?family=Roboto:100,400';

@import 'https://fonts.googleapis.com/css?family=Raleway:100,400,700';

#about {
  margin-top: -10px;
}

#map-canvas {
  height: 350px;
  width: 100%;
}

.about-bg {
  background: url(../images/green-store-inside-1.jpg);
  background-position-x: 15%;
  background-position-y: 80%;
  background-repeat: no-repeat;
  background-size: 85%;
}

.hot-dishes .section-bg {
  background: url(../images/plat-chaud.jpg);
  background-position: 51% 58%,75% 58%;
  background-repeat: no-repeat,no-repeat;

}

.pies .section-bg {
  background: url(../images/quiches.jpg);
  background-position: 51% 58%,75% 58%;
  background-repeat: no-repeat,no-repeat;

}

.soups .section-bg {
  background-image: url(../images/soupe.jpg);
}

.btn {
  border-radius: 0;
  letter-spacing: 2px;
}

.btn-middle {
  background-color: transparent;
  border: 1px solid #b9d237;
  color: #679a46;
  margin: 25px 0;
  padding: 15px 30px;
}

.btn-middle:hover {
  background-color: #b9d237;
  box-shadow: 0 2px 5px #948e8e;
  color: #fff;
}

.btn-reservation {
  margin: 0;
  width: 100%;
}

.btn-send, .btn-reservation {
  background-color: #b9d237;
  box-shadow: 0 2px 5px #948e8e;
  color: #fff;
  margin: 20px 0;
  padding: 10px 50px;
}

.btn-send:hover, .btn-reservation:hover {
  background-color: #679a46;
  color: #eee;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}

.btn:hover {
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.color-bg {
  background: #b9d237;
}

.contact .section-content {
  color: #fff;
}

.contact .section-title {
  padding: 10% 20%;
}

.contact-form {
  padding: 50px 0;
}

.custom-navbar-default {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  box-shadow: 0 2px 7px #000;
  color: #679a46;
  height: 110px;
  margin: 0;
  padding: 15px 0;
  transition: all .3s ease-in-out;
}

.custom-navbar-default > .container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.custom-navbar-default > .container > .navbar-header {
  display: flex;
  height: 100%;
  justify-content: center;
}

.dis-table {
  display: table;
}

.dis-table .dis-table-cell {
  display: table-cell;
  float: none;
  padding: 0;
}

.fb {
  background: url(../images/social/facebook_color.png);
}

.fb, .twit, .g-plus, .link {
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  float: left;
  height: 126px;
  transition: all .3s ease-in-out;
  width: 126px;
  -mz-transition: all .3s ease-in-out;
}

.fb:hover {
  background: url(../images/social/facebook_black.png);
}

.wraps .section-bg {
  background-image: url(../images/green-roll.jpg);
}

.form-control {
  border-radius: 0;
  margin-bottom: 25px;
}

.g-plus {
  background: url(../images/social/g-plus_color.png);
}

.g-plus:hover {
  background: url(../images/social/g-plus_black.png);
}

*.fresh-salades .section-bg {
  background-image: url(../images/salad-bar.jpg);
}

.half {
  position: relative;
  width: 50%;
}

.header-content {
  display: inline-block;
  margin-top: 30vh;
}

.header-sub-title {
  font-size: 16px;
  margin-left: 10px;
}

.header-title {
  font-size: 112px;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 0;
}

.header-title, .header-sub-title {
  color: #333;
  font-family: 'Roboto',sans-serif;
  text-transform: uppercase;
}

.link {
  background: url(../images/social/linkedin_color.png);
}

.link:hover {
  background: url(../images/social/linkedin_black.png);
}

.menu {
  padding: 50px 0;
}

.menu-catagory h2 {
  font-size: 51px;
  font-weight: 100;
  margin-bottom: 27px;
}

.menu-system {
  color: #b9d237;
  width: 100%;
}

.navbar-brand {
  background-image: url(/images/logo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  margin-left: 15px;
  width: 205px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: #111010;
}

.navbar-default .navbar-nav > li > a {
  color: #111010;
  font-family: 'Roboto',sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 18px;
  padding: 18px 0;
  text-align: center;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #679a46;
}

.navbar-default .navbar-toggle {
  border-color: #111010;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #111010;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default.shrink .navbar-collapse {
  border-color: transparent;
}

.navbar-toggle {
  border-radius: 0;
  color: #111010;
  left: 20px;
  position: absolute;
  top: calc(50% - 20px);
}

.opening-time {
  background-color: #b9d237;
  border-radius: 4px;
  color: #fff;
  margin-top: -50px;
  padding: 20px 40px;
}

.opening-time h4 {
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 12px;
}

.opening-time p {
  margin-bottom: 2px;
}

.opening-time-title {
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 25px;
  margin-top: 0;
}

.owl-carousel {
  margin-top: 156px;
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item .item {
  background-repeat: no-repeat;
  height: 80vh;
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item:nth-child(1) .item {
  background: url(../images/1.jpg);
  background-position: bottom;
  background-size: cover;
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item:nth-child(2) .item {
  background: url(../images/2.jpg);
  background-size: cover;
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item:nth-child(3) .item {
  background: url(../images/3.jpg);
  background-size: cover;
}

.owl-next {
  right: 21%;
}

.owl-prev {
  right: 25%;
}

.owl-theme .owl-controls .owl-buttons div {
  background: #b9d237;
  border-radius: 100%;
  bottom: -25px;
  color: #000;
  color: #fff;
  font-size: 15px;
  height: 50px;
  margin: 0;
  opacity: 1;
  padding: 15px;
  position: absolute;
  transition: all .4s;
  width: 50px;
}

.owl-theme .owl-controls .owl-buttons div:hover {
  background: #fff;
  color: #000;
}

.per-head {
  float: left;
}

.per-head span {
  margin-right: 5px;
}

.price {
  float: right;
  margin-bottom: 18px;
}

.reservation .section-content {
  padding: 15% 15% 10%;
}

.reservation-form {
  margin-top: -20px;
}

.reserve .section-bg {
  background-image: url(../images/RaT-bg.jpg);
}

.section-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-content {
  padding: 15% 25% 15% 20%;
}

.section-content-para {
  margin: 30px 0;
}

.section-content-title {
  font-family: 'Roboto';
  font-size: 60px;
  font-weight: 100;
}

.section-icon {
  left: 47%;
  margin-left: -21px;
  margin-top: 58px;
  position: absolute;
  z-index: 999;
  width: 8em;
  background-color: rgba(211, 198, 221, 0.28);
  border-radius: 15px;
  padding: 7px;
}

.section-title {
  color: #fff;
  font-family: 'Roboto',sans-serif;
  font-size: 60px;
  font-weight: 100;
  padding: 20%;
  text-align: right;
}

.social-media {
  left: 5%;
  margin-top: -58px;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.twit {
  background: url(../images/social/twitter_color.png);
}

.twit:hover {
  background: url(../images/social/twitter_black.png);
}

body {
  font-family: 'Raleway','Open-Sans',sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

footer {
  background-color: #b9d237;
  color: #fff;
  padding: 30px 0;
}

footer a {
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  color: #679a46;
  transition: all .3s ease-in-out;
  -mz-transition: all .3s ease-in-out;
}

footer a:hover {
  color: #00710a;
  text-decoration: none;
}

input.empty, textarea.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
}

nav.navbar.custom-navbar-default.shrink {
  height: 62px;
  padding: 5px 0;
}

nav.shrink .navbar-toggle {
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
}

@media (min-width: 1366px) {
  .custom-navbar-default {
    padding: 18px 0;
  }

  .owl-carousel {
    margin-top: 94px;
  }

  .section-title {
    font-size: 90px;
  }
}

@media (min-width: 1500px) {
  .pies .section-bg, .hot-dishes .section-bg {
    background-position-x: 62%,80%;
    background-size: 330px,264px;
  }

  .section-content {
    padding: 10% 40% 10% 12%;
  }

  .section-icon {
    left: 48%;
    margin-left: -25px;
  }

  .section-title {
    padding: 20% 10% 20% 25%;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  #filter-list li {
    font-size: 14px;
  }

  .about-bg {
    background-position-x: 100%;
    background-position-y: 68%;
    background-size: 98%;
  }

  .btn-reservation {
    padding: 10px;
  }

  .contact .section-title {
    padding: 10% 20% 20%;
  }

  .custom-navbar-default {
    padding: 15px 0;
  }

  .header-title {
    font-size: 62px;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 12px;
    margin: 0 10px;
  }

  .owl-carousel {
    margin-top: 85px;
  }

  .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 12%;
  }

  .owl-theme .owl-controls .owl-buttons .owl-prev {
    right: 20%;
  }

  .pricing-title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .section-content {
    padding: 10% 12%;
  }

  .section-content-title {
    font-size: 45px;
  }

  .section-header {
    padding-top: 0;
  }

  .section-title {
    font-size: 58px;
    padding: 20% 15%;
  }

  nav.shrink .navbar-brand {
    font-size: 22px;
    height: 50px;
    margin-top: -9px;
  }
}

@media (max-width: 767px) {
  #filter-list li {
    font-size: 14px;
  }

  #menu-pricing .item {
    width: 40%;
  }

  #menu-pricing .item h2 {
    font-size: 27px;
    margin: 0;
    padding: 0;
  }

  .btn-reservation {
    padding: 10px;
  }

  .contact .section-content {
    padding: 70px 0;
  }

  .contact .section-title {
    padding: 10% 20% 20%;
  }

  .custom-navbar-default {
    padding: 15px 0;
  }

  .g-map img {
    height: 137px;
  }

  .half {
    width: 100%;
  }

  .header-sub-title {
    margin-left: 3px;
  }

  .header-title {
    font-size: 45px;
    margin-bottom: 5px;
  }

  .menu {
    text-align: center;
  }

  .menu-price li a .menu-desc span h3 {
    font-size: 19px;
    margin-bottom: 12px;
  }

  .menu-price li a:hover .menu-desc span {
    font-size: 12px;
    line-height: 18px;
    padding: 0;
  }

  .navbar-default .navbar-brand {
    font-size: 30px;
  }

  .opening-time {
    margin-top: 25px;
  }

  .owl-carousel {
    margin-top: 80px;
  }

  .owl-carousel .owl-wrapper, .owl-carousel .owl-item:nth-child(1) .item, .owl-carousel .owl-wrapper, .owl-carousel .owl-item:nth-child(2) .item, .owl-carousel .owl-wrapper, .owl-carousel .owl-item:nth-child(3) .item {
    background-position: center;
  }

  .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 5%;
  }

  .owl-theme .owl-controls .owl-buttons .owl-prev {
    right: 20%;
  }

  .per-head, .price {
    float: none;
  }

  .pricing-title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .section-content {
    padding: 12% 15%;
  }

  .section-content-title {
    font-size: 45px;
  }

  .section-header {
    padding-top: 0;
  }

  .section-title {
    font-size: 40px;
    padding: 18% 10%;
  }
}

.ytb{
  margin-top: 40px;
  padding-top: 40px;
}

.ytb img{
  max-width:150px;display:block;
}
